<div class="welcome-tag">
<p>Welcome <%= "#{@user.first_name}" %></p>
</div>

<p>Transactions for <%= @category.name %></p>

<% @transactions.map do |transaction| %>

<p><%=transaction.merchant_name %> : <%=transaction.amount %> </p>
<hr />

<% end %>