<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset = 'utf-8'>
  <title>Money CashBoard</title>
  <link rel='stylesheet' href='/style.css'</>
</head>
<body>

<h1>Money CashBoard</h1>





  <%= yield %>

</body>
</html>